body{
	background-color: #BABABA;
}
header{
	background-color: #3D9EE3;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	font-family: times;
}

header a{
	background-color: #3D9EE3;
	color: black;
	text-decoration: none;


}
header a:hover{
	color: #FFFFFF;


}
header h1{

	position: relative;

}
#resume{
	background-color: #93CC81;
	border-radius: 5px;
	padding: 10px;
	margin-top: 20px; 
}
